html {
    scroll-behavior: smooth;
}

body {
    background: url("../resources/elements/Light\ Pink/Rainbow.png"),
        url("../resources/elements/Light\ Pink/light\ pink.png"),
        url("../resources/elements/Orange/Layer\ 55.png"),
        url("../resources/elements/Mint/51-flipped.png"),
        url("../resources/elements/Light\ Pink/squiggly.png"),
        url("../resources/elements/Charcoal/Layer\ 58.png"),
        url("../resources/elements/Orange/orange.png"),
        url("../resources/elements/Orange/orange.png"),
        url("../resources/elements/Mint/Rainbow.png");
    background-repeat: no-repeat;
    background-position: calc(50vw - 900px) calc(50vh - 450px),
        calc(50vw - 800px) calc(50vh - 1000px),
        calc(50vw + 480px) calc(50vh - 250px),
        calc(50vw + 400px) calc(50vh - 500px),
        calc(50vw + 200px) calc(50vh - 100px),
        calc(50vw - 750px) calc(50vh + 300px),
        calc(50vw + 270px) calc(50vh - 200px),
        calc(50vw - 1300px) calc(50vh + 800px),
        calc(50vw + 270px) calc(50vh + 700px);
    background-size: 604px,
        1114px,
        153px,
        394px,
        182px,
        500px,
        960px,
        1400px,
        637px;
    background-color: #FFFCF5;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Preloader Animation */
.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #F5DFCE;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s 2.5s ease-in-out;
}

.loaded {
    transform: translateY(-100%);
}

.preloader-img {
    width: 10vw;
    min-width: 100px;
    min-height: 100px;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s 2.5s;
}

.loaded .preloader-img {
    opacity: 0;
}

.preloader-img svg {
    height: 70%;
}

/* .preloader-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
} */

#open {
    -webkit-animation: move 3s ease 0.1s forwards;
    transform-origin: 0 33%;
}

#close {
    -webkit-animation: closeit 3s ease-in 0.1s forwards;
    transform-origin: 33% 0;
}

@-webkit-keyframes move {
    0% {
        transform: scaleY(0.2);
        visibility: visible;
    }

    30% {
        transform: scaleY(1);
    }

    40% {
        transform: translateX(7%);
    }

    50% {
        transform: translateX(7%);
    }

    60% {
        transform: translateX(-7%);
    }

    70% {
        transform: translateX(-7%);
    }

    80% {
        transform: scaleY(1);
    }

    99% {
        transform: translate(0);
        transform: scaleY(0.10);
        opacity: 1;
    }

    100% {
        transform: translate(0);
        transform: scaleY(0.10);
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes closeit {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    90% {
        opacity: 0;
        visibility: visible;
        transform: scaleX(0.5);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: scaleX(1);
    }
}

/* Logo Animation Section */
.logo {
    background: transparent 0% 0% no-repeat padding-box;
    height: 100px;
}

.container-fluid {
    padding: 0;
}

.container-sm {
    padding: 4% 8%;
}

/* Home Section */
#home {
    margin-bottom: 50px;
}

.btn {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    width: 128px;
}

.home-btns {
    display: flex;
    justify-content: space-between;
}

.home-par {
    margin-bottom: 0.5rem;
    font-size: 22px;
}

.my-name {
    font-size: 48px;
    font-weight: 700;
    color: #CA7946;
}

.profile-img {
    width: 100%;
    justify-content: flex-end;
}

/* Divider Section */
.divider {
    height: 30px;
    margin: 1rem 0;
}

/* Experience Section */
.experience-label {
    margin-bottom: 1rem;
}

.experience-langs {
    margin-bottom: 0;
    font-size: 1rem;
}

.list-group {
    list-style-type: none;
}

/* Projects Section */
.card {
    border-radius: 10px;
}

.card-body {
    padding: 1rem;
}

.card-text {
    margin-bottom: 2rem;
}

.card-title {
    color: #CA7946;
    display: inline;
}

.projects-label {
    display: flex;
    justify-content: space-between;
}

.projects-langs {
    margin-bottom: 0;
    display: inline;
    font-size: 1rem;
}

.projects-title {
    color: #989A6D;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 2rem;
}

.icons {
    width: 19px;
    height: 19px;
}

/* Education Section */
.education-title {
    color: #989A6D;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 2rem;
}

.education-card-text {
    margin-bottom: 0;
}

/* About Me Section */
.about-me-header {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #2F302E;
}

.about-me-img {
    width: 202px;
}

.about-me-title {
    color: #CA7946;
    font-weight: 500;
    font-size: 24px;
}

.about-me-text {
    color: #2F302E;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* Footer Section */
.footer {
    background-color: #272423 !important;
    margin: 0;
}

.footer-name {
    color: #FFFCF5;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-top: 8px;
}

.footer-email {
    color: #FFFCF5;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

@media (max-width: 769px) {

    /* Home Section */
    #home {
        padding: 10px;
    }

    .home-btns {
        justify-content: center;
    }

    .home-par {
        font-size: 1rem;
    }

    .profile {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .profile-img {
        width: 202px;
        height: 202px;
        justify-content: flex-end;
    }

    /* Divider Section */
    .divider {
        height: 20px;
    }

    /* About Me Section */
    .about-me-img {
        width: 202px;
    }

    .mobile-hide {
        display: none;
    }
}