body {
    background: url("../images/elements/Light\ Pink/Rainbow.png"),
        url("../images/elements/Light\ Pink/light\ pink.png"),
        url("../images/elements/Orange/Layer\ 55.png"),
        url("../images/elements/Mint/51-flipped.png"),
        url("../images/elements/Light\ Pink/Image\ 8.png");
    background-repeat: no-repeat;
    background-position: calc(50vw - 750px) calc(50vh - 525px),
        calc(50vw - 800px) calc(50vh - 1100px),
        calc(50vw + 480px) calc(50vh - 350px),
        calc(50vw + 270px) calc(50vh - 600px),
        calc(50vw + 270px) calc(50vh - 200px);
    background-size: 656px,
        1114px,
        153px,
        394px,
        182px;
    background-color: #FFFCF5;
    font-family: 'Work Sans', sans-serif;
}

.logo {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 64px;
    /* color: #272423; */
}

.container-sm {
    padding: 5% 8%;
}

/* Home Section */
#home {
    margin-bottom: 50px;
}

.btn {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    width: 129px;
}

.home-btns {
    display: flex;
    justify-content: space-between;
}

.home-par {
    margin-bottom: 0.5rem;
    font-size: 22px;
}

.my-name {
    font-size: 48px;
    font-weight: 700;
    color: #CA7946;
}

.profile-img {
    width: 202px;
    justify-content: flex-end;
}

/* Divider Section */
.divider {
    height: 40px;
}

/* Experience Section */
.card {
    border-radius: 10px;
}

.card-body {
    padding: 1rem;

}

.card-text {
    margin-bottom: 2rem;
}

.card-title {
    color: #CA7946;
    display: inline;
}

.experience-label {
    display: flex;
    justify-content: space-between;
}

.experience-langs {
    margin-bottom: 0;
    display: inline;
    font-size: 1rem;
}

.experience-title {
    color: #989A6D;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 2rem;
}

.icons {
    width: 19px;
    height: 19px;
}

/* Education Section */
.education-title {
    color: #989A6D;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 2rem;
}

.education-card-text {
    margin-bottom: 0;
}

/* About Me Section */
.about-me-img {
    width: 202px;
}

@media (max-width: 769px) {

    /* Home Section */
    #home {
        padding: 10px;
    }

    .home-btns {
        justify-content: center;
    }

    .home-par {
        font-size: 1rem;
    }

    .profile {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    /* Divider Section */
    .divider {
        height: 13px;
    }

    /* About Me Section */
    .about-me-img {
        width: 202px;
    }

    .mobile-hide {
        display: none;
    }
}